*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    &.hidden{
        overflow: hidden;
    }
}

h1, .h1-text{
    font-size: 3em;
}
h2, .h2-text{
    font-size: 2.5em;
}
h3, .h3-text{
    font-size: 2em;
}
h4, .h4-text{
    font-size: 1.5em;
}
h5, .h5-text{
    font-size: 1em;
}
h6, .h6-text{
    font-size: 0.5em;
}

main{
    max-width: 65%;
    margin: auto;
}
.top-btn{
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 5em;
    border-radius: 30px;
    border: 0;
    box-shadow: 1px 1px 5px #ddd;
    font-weight: lighter;
    cursor: pointer;
    outline: 0;
    visibility: visible;
    transition: all ease-in-out 0.3s;
    &.hide{
        visibility: hidden;
        right: -90px;
    }
}